*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.reg-form{
    margin-top: 10rem;
    width: 50%
}

.reg-header{
    display: flex;
    height: 0px;
    margin: 1rem 4rem;
}

hr{
    width: 51%;
    height: 2px;
    margin: 7.5px;
    background-color:black;
    border: none;
}


input[type='text'],[type ='email'], [type = 'tel'] {
    border: none;
    border-bottom: 1px solid rgb(167, 164, 164);
    
}

#name, #email, #nationality{
    width: 25%;
   
}
#address{
    margin-left: 0;
}

input, h6{
    padding-top: 30px;
    margin-left: 4rem; 
}

input:active{
    transform: scale(0.95);
}

input:focus{
    outline: none;
}

#nationality{
    position: relative;
}

.uparr{
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 24.5rem
}

input[type='checkbox']{
    margin-top: 10px;
    margin-right: 2px;
}

input[name='backend'], [name='design'], [name='mobile']{
    margin-left: 1rem; 
}

label{
    font-size: 12px;  
}

.terms{
    position: relative;
    margin-left: 4rem;
    margin-top: 25px;
}

a{
    text-decoration: none;
}

button{
    position: absolute;
    margin-top: -1.8rem;
    margin-left: 24.5rem;
    height: 50px;
    width: 60px;
    border-radius: 10px;
    font-size: 30px;
    background-color: black;
    color: white;
    border: none;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}